body,
html {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  background: #ebdbb2;
}

.colorbox:nth-child(1) {
  background-color: #cc241d;
}
.colorbox:nth-child(2) {
  background-color: #98971a;
}
.colorbox:nth-child(3) {
  background-color: #d79921;
}
.colorbox:nth-child(4) {
  background-color: #458588;
}

.container {
  max-width: min(80vw, 600px);
  margin: 40px auto;
}

.container > h1 {
  margin: 0;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 800;
  color: #3c3836;
  letter-spacing: -0.1rem;
}
.text {
  padding-bottom: 2rem;
  line-height: 1.5rem;
}
.fakeimg {
  background: url(images/fd.jpg);
  background-size: contain;
  min-width: 100%;
  aspect-ratio: 16/9;
}
.unsplash {
  max-width: 100%;
  height: auto;
}
.colorbar {
  display: flex;
  justify-content: flex-end;
  margin: 2rem auto;
}

.colorbox {
  width: 1rem;
  height: 1rem;
}
.list_header {
  font-weight: bold;
}
footer {
  background-color: #d5c4a1;
  text-decoration: none;
  line-height: 1.8rem;
}
footer .stacks {
  max-width: 80vw;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
footer ul {
  list-style-type: none;
}
footer a {
  color: #3c3836;
  margin: 0;
  padding-inline: 0;
  padding-top: 1rem;
  text-decoration: none;
}
footer a:hover {
  color: black;
}
footer > .end {
  border-top: 1px solid gray;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}
